#sidebar{
  .items-wrapper{
    height: 90vh;
    overflow-y: scroll;
    //overflow-x: hidden;
  }
  .item{
    border-bottom:1px solid #dddddd;
    font-weight:bold;
    color:$brownish_grey;
    padding:15px 0px;
    .chef-name, .price{
      color:$warm_grey;
    }
  }
}
.search-bar{
  padding:10px;
  .input-group-addon{
    border-radius:0px;
  }
  .input-group-addon:first-child{
    border-radius:0px;
    color:$warm_grey;
    font-size: 12px;
  }
  input{
    color:$pinkish_grey;
  }
  .search-icon{
    background-color: $salmon;
    border: 1px solid $salmon;
    color:$white;
  }
}
